body {
    footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $theme-dark-gray;
        color: white;
        p.footer-text {
            font-size: 12px;
            margin: 14px 18px;
            text-align: center;
        }
        a.go-back-link {
            @include go-back;
        }
    }

    &.index {
        footer {
            justify-content: right;
            margin-top: 8px;
            a {
                display: none;
            }
        }
    }
}
