* {
	box-sizing: border-box;
}

iframe {
	max-width: 100%;
}

ul {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

input,
select {
	border: 0;
	outline: 0;
}

button {
	cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

body {
	background-image: url("img/FONDO-WEB.png");
	font-family: "brandon-grotesque", sans-serif;

	section.principal-logos {
		text-align: center;
		margin-top: 60px;
		picture:nth-child(1) {
			img {
				border-right: solid 2px;
				border-color: #4d3762;
				padding-right: 20px;
				width: 122px;
			}
		}
		picture:nth-child(2) {
			img {
				padding-left: 20px;
				width: 204px;
			}
		}
	}

	picture.enamoresi-title {
		img {
			max-width: 1000px;
			width: 100%;
			margin: 0 auto;
			display: block;
			margin-top: 36px;
			margin-bottom: 32px;
		}
	}

	section.subtitle {
		P {
			text-align: center;
			background: $theme-violet;
			width: 50%;
			margin: 0 auto;
			border-radius: 50px;
			padding-top: 5px;
			padding-bottom: 5px;
			font-weight: bold;
			color: $theme-pink;
			strong {
				color: white;
			}
		}
		padding-bottom: 40px;
	}

	section.main-text {
		text-align: center;
		color: $theme-violet;
		font-size: 25px;
		padding-top: 67px;
	}

	footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background: $theme-violet;
		color: $theme-pink;
		ul {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 25px;
			li {
				background-color: $theme-pink;
				border-radius: 50px;
				padding: 1px 3px;
				margin: 0 3px;
				a {
					img {
						width: 30px;
						padding-top: 2px;
					}
				}
			}
		}
	}
}

// styles for slider

html,
section.slider-card {
	position: relative;
	height: 100%;
}

section.slider-card {
	display: flex;
	justify-content: center;
	align-items: center;
}

section.slider-card article {
	display: none;
}

body.show-message article {
	display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 570px;
    height: 154px;
    margin: auto;
    z-index: 2;
    font-size: 22px;
    text-transform: uppercase;
    background-color: #4D3762;
    text-align: center;
    color: white;
    border-radius: 28px;
    padding: 24px;
    box-shadow: 0px 9px 14px 10px #645d6b;
	strong {
		font-size: 27px;
		color: $theme-pink;
	}

	
}

.swiper {
	width: 240px;
	height: 320px;
}

.swiper-slide {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 18px;
	font-size: 22px;
	font-weight: bold;
	color: #fff;
}

.swiper-slide:nth-child(1n) {
	background-color: rgb(206, 17, 17);
}

.swiper-slide:nth-child(2n) {
	background-color: rgb(0, 140, 255);
}

.swiper-slide:nth-child(3n) {
	background-color: rgb(10, 184, 111);
}

.swiper-slide:nth-child(4n) {
	background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5n) {
	background-color: rgb(118, 163, 12);
}

.swiper-slide:nth-child(6n) {
	background-color: rgb(180, 10, 47);
}

.swiper-slide:nth-child(7n) {
	background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8n) {
	background-color: rgb(0, 68, 255);
}

.swiper-slide:nth-child(9n) {
	background-color: rgb(218, 12, 218);
}

.swiper-slide:nth-child(10n) {
	background-color: rgb(54, 94, 77);
}
