* {
	box-sizing: border-box;
}

iframe {
	max-width: 100%;
}

ul {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

input,
select {
	border: 0;
	outline: 0;
}

button {
	cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

body {
	font-family: "Open Sans", sans-serif;
	color: $theme-dark-gray;
}
